<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->

<!-- wp:pattern {"slug":"marothia-school/hero"} /-->

<!-- wp:pattern {"slug":"marothia-school/stats"} /-->

<!-- wp:pattern {"slug":"marothia-school/about"} /-->

<!-- wp:pattern {"slug":"marothia-school/academics"} /-->

<!-- wp:pattern {"slug":"marothia-school/facilities"} /-->

<!-- wp:pattern {"slug":"marothia-school/principal"} /-->

<!-- wp:pattern {"slug":"marothia-school/gallery"} /-->

<!-- wp:pattern {"slug":"marothia-school/admission"} /-->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
